.main-view {
  background-color: $secondary-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 275px;
  right: 0;
  overflow: auto;
  height: 1px;
  min-height: 100%;
}

@media screen and (max-width: 640px) {
  .main-view {
    top: 40px;
    left: 0;
  }
}


a {
  cursor: pointer;
  color: $secondary-text-color;
}

.success {
  color: $success-text-color;
}

.danger {
  color: $btn-danger;
}

.btn {
  font-size: 14px;

  .icon {
    font-size: 12px;
  }
}

.no-records-message {
  position: absolute;
  text-align: center;
  width: 90%;
  height: 200px;
  top: 50%;
  margin-top: -50px;
  color: rgba($primary-text-color, 0.7);
  font-size: 20px;
}

